.container{
    // height: 395px;
    background-color: #FFFFFF;
    padding: 48px;
    // padding-bottom: 48px;
    gap: 24px;
    max-width: 600px !important;
    max-height: 80vh !important;
    overflow: auto;
}